<p>home works!</p>
<ul>
   <li><a [routerLink]="['/static']">Static Data</a></li>
   <li><a [routerLink]="['/dynamic']" [state]=product>Dynamic Data</a></li>
</ul>
<div class="input-field">
<input pInputText type="text" placeholder="Enter Id" [(ngModel)]="product.id">
<input pInputText type="text" placeholder="Enter Name" [(ngModel)]="product.name">
</div>
<div class="btn">
   <button pButton (click)="gotoDynamic()"> Dynamic </button>
   <button pButton (click)="goToStatic()">static</button>
</div>